body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.chart-row {
  min-height: 64px;
  width: 100%;
  border-bottom: 1px solid Transparent;
}
.chart-row_red {
  border-color: red;
}
.chart-row_green {
  border-color: green;
}
.chart-row_pink {
  border-color: pink;
}
.chart-row_pink {
  border-color: pink;
}
.chart-row-label {
  line-height: 64px;
  font-weight: bold;
}
.chart-row-box {
  width: 52px;
  height: 52px;
  margin-top: 6px;
  float: left;
}
.chart-row-box_red {
  background-color: Red;
}
.chart-row-box_green {
  background-color: green;
}
.chart-row-box_pink {
  background-color: pink;
}
