body{
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
}

.chartType(@color, @image){
  &{
    border-color: @color;
  }

  &-box{
    background-image : url(@image);
  }
}

.chart-row {
  min-height: 64px;
  width: 100%;
  border-bottom: 1px solid Transparent;
  &_red{
    .chartType(red, 'images/little_girl_red.png');
  }

  &_green{
    .chartType(green, 'images/little_girl_green.png');
  }

  &_pink{
    .chartType(pink, 'images/little_girl_pink.png');
  }

  &_black{
    .chartType(black, 'images/little_girl_black.png');
  }

  &_blue{
    .chartType(blue, 'images/little_girl_blue.png');
  }

  &_grey{
    .chartType(gray, 'images/little_girl_grey.png');
  }

  &_orange{
    .chartType(orange, 'images/little_girl_orange.png');
  }

  &_purple{
    .chartType(purple, 'images/little_girl_purple.png');
  }

  &_white{
    .chartType(#ececec, 'images/little_girl_white.png');
  }

  &_yellow{
    .chartType(yellow, 'images/little_girl_yellow.png');
  }
}

.chart-row-label{
  line-height: 64px;
  font-weight: bold;
}

.chart-row-box {
  width : 52px;
  height: 52px;
  margin-top: 6px;
  float: left;
  background-size: contain;
}
